<div id="sidebar">
  
  <%= link_to "home", root_url, :id => "logo" %>
  
  <div class="sidebar-box" id="social">
    <%= link_to "twitter", "http://twitter.com/#!/codebiff", :id => "twitter" %>
    <%= link_to "rss", "/feed.rss", :id => "rss" %>
  </div>
  
  <div class="sidebar-box">
    <p>I'm Dave Nicholson, a part-time web developer trying to learn enough of this shit to quit my day job and go pro. Help me out!</p>
  </div>
  
  <div class="sidebar-box">
    <h3>search</h3> 
    <%= form_tag posts_path, :method => :get do %> 
      <%= text_field_tag :q, nil, {:placeholder => "I'm looking for..."} %>
      <%= submit_tag "go" %>
    <% end %>
  </div>
  
  <div class="sidebar-box">
    <h3>navigation</h3>
    <ul>
      <li><%= link_to "home", root_url %></li>
      <li><%= link_to "about", about_url %></li>
      <li><%= link_to "archive", archive_url %></li>
      <li><%= link_to "contact", contact_url %></li>
    </ul>
  </div>
  
  <div class="sidebar-box">
    <h3>tags</h3>
    <ul class="tags">
      <% Post.tag_counts.each do |tag| %>
        <li><%= link_to tag.name, "/tag/#{tag.name}", :title => "#{pluralize(tag.count,'post')} tagged with '#{tag.name}'" %></li>
      <% end %>      
    </ul>
  </div>
  
  <div class="admin-links sidebar-box">
    <h3>admin tools</h3>
    <ul>
      <li><%= link_to "new post", new_post_url %></li>
      <li><%= link_to "logout", "/logout" %></li>
    </ul>
  </div>

  <div class="sidebar-box" id="hosting">
    <%= link_to "hosted by VPS.net", "http://vps.net", :id => "vps" %>
  </div>

  <div class="sidebar-box" id="footer">
    <p>&copy; Dave Nicholson - 2012</p>
  </div>

  
</div> <!-- /#sidebar -->