<!DOCTYPE html>
<html>
<head>
  <%= page_title %>
  <%= auto_discovery_link_tag(:rss, "http://#{request.host}/feed.rss") %>
  <meta name="generated" value="<%= Time.now %>">
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://use.typekit.com/zlh3kxf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28186072-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<body>
  
  <div class="container">

    <div id="main_content">
      <%= yield %>
    </div>
    
    <%= render :partial => "layouts/sidebar" %>
    
  </div> <!-- /.container -->
  
</body>
</html>
